* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "gilroy";
    /* background-color: bisque; */
}

/* Utility */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.g {
    color: #cecece;
}

.b {
    color: #000;
}


/* Hover */
a:hover{
    transform: scale(.9);
    text-decoration: none;
}
nav ul li a:hover{
    color: #ffffff;
}


nav {
    z-index: 100;
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    padding: 0px 80px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 75px;
}

nav ul li {
    list-style: none;
    font-size: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #a4a4a4;
}

nav ul img {
    height: 50px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.728);
}

.first {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(65, 65, 65);
    z-index: 10;
}

.first>.image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("./Projects-Images/P1.jpg");
    background-size: cover;
}

.first-content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-content>* {
    height: 75%;
    display: flex;
    align-items: center;
    color: #c5c5c5;
}

.first-content :nth-child(1) {
    width: 20%;
}

.first-content :nth-child(1) .line {
    height: 1px;
    width: 220px;
    background-color: #c5c5c5;
}

/*  */
.first-content :nth-child(2) {
    width: 40%;
}

.first-content :nth-child(2)>* {
    width: 70%;
    letter-spacing: 1.5px;
    font-weight: 400;
    padding-bottom: 5px;
}

.first-content :nth-child(2) h1 {
    font-size: 2.2rem;
}

.first-content :nth-child(2) p {
    font-size: 1.1rem;
}

/*  */

.first-content :nth-child(3) {
    position: relative;
    width: 40%;
}

.first-content :nth-child(3) .image {
    height: 85%;
    width: 70%;
    /* background-image: url("/Projects-Images/P1.jpg");
    background-size: cover;
    background-position: center; */
}

.first-content :nth-child(3) .image img {
    height: 100%;
    width: 100%;
}

.first-content :nth-child(3) .line-h {
    position: absolute;
    top: 0;
    right: 60px;
    width: .1px;
    height: 100px;
    background-color: #fff;
}

.first-content :nth-child(3) .line-v {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 220px;
    height: .1px;
    background-color: #c5c5c5;
}

.first-content :nth-child(4) {
    width: 20%;
}

.first-content :nth-child(4) p {
    width: 70%;
    text-align: center;
    font-size: 60px;
}

.second {
    position: relative;
    height: 105%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #fff;
    overflow-x: hidden;
}

.second img {
    width: 150%;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.second-content {
    position: relative;
    height: 68%;
    width: 100%;
}

.second-content h5,
.third h5,
.fourth h5,
.fifth h5 {
    position: absolute;
    top: 20%;
    left: 22%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 400;
}

.circle {
    position: absolute;
    background-color: rgb(78, 78, 78);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 1%;
    z-index: -100;
}

.second-content p {
    width: 32%;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    right: 18%;
    bottom: -180px;
}

.second-content a {
    width: 32%;
    font-size: 1.1rem;
    color: #fff;
    position: absolute;
    right: 18%;
    bottom: -220px;
}

/***/

.third {
    position: relative;
    height: 25vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: end;
    align-items: end;
}

.cards{
    height: 450px;
    display: flex;
    overflow-x: auto;
    overflow-y: clip;
    background-color: #000000;

}
.cards::-webkit-scrollbar{
    width: 0;
}
.cards .card{
    min-width: 370px;
    height: 400px;
    line-height: 110px;
    text-align: center;
    margin-right: 45px;
    background-color: #363030;

}
.cards .card .card-img{
    width: 100%;
    height: 100%;
    background-color: #c0c0c0;
    background-position: center;
    background-size: cover;
}
.cards .card:nth-child(1) .card-img{
    background-image: url("./News/With-Box/N1.png");
}
.cards .card:nth-child(2) .card-img{
    background-image: url("./News/With-Box/N2.png");
}
.cards .card:nth-child(3) .card-img{
    background-image: url("./News/With-Box/N3.png");
}
.cards .card:nth-child(4) .card-img{
    background-image: url("./News/With-Box/N4.png");
}
.cards .card:nth-child(5) .card-img{
    background-image: url("./News/With-Box/N5.png");
}

.fourth {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.fourth-content {
    height: 60%;
    width: 30%;
    position: absolute;
    top: 60%;
    left: 33%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.fourth-content h2 {
    letter-spacing: 2.5px;
    font-size: 4rem;
    font-weight: 400;
}

.fourth-content a {
    font-size: 1.1rem;
    font-weight: 400;
    color: #313131;
}

.fifth {
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-color: rgb(123, 96, 96); */
}

.fifth-content {
    height: 75%;
    width: 35%;
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 100px;
    padding: 0 0 0 220px;
}

.fifth-content p {
    font-size: 22px;
    color: #000000;
    text-align: start;
    position: relative;
}

.fifth-content p img {
    height: 70px;
    position: absolute;
    top: -44px;
    left: -45px;
    filter: opacity(0.1);
}

.sixth {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.sixth-content {
    height: 60%;
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.sixth-content h2 {
    font-size: 7.5rem;
    color: #fff;
    font-weight: 100;
}

.social {
    display: flex;
    gap: 100px;
    font-size: 23px;
    padding-left: 25px;
}

.social a {
    color: #c5c5c5;
    text-decoration: none;
}

footer {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.foot-content {
    position: relative;
    padding: 5px 100px;
    border-top: 1px solid #c0c0c0;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-content a {
    color: #c5c5c5;
    text-decoration: none;
}

.foot-content .foot-line {
    background-color: #fff;
    height: 100px;
    width: .2px;
    position: absolute;
    right: 30px;
    top: -75px;
}




/* Media Query */




@media only screen and (max-width: 850px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        height: 100%;
        font-family: "gilroy";
        /* background-color: bisque; */
    }

    nav {
        background-color: rgba(0, 0, 0, 0.1);
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .first>.image {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: url("./Projects-Images/P1.jpg");
        background-size: cover;
        background-position: center;
    }
    
    .first-content :nth-child(2) {
        width: 100%;
        /* margin: 50px auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-content :nth-child(2) p {
        width: 100%;
        margin-left: -70px;
        font-size: 15px;
    }

    .second img {
        width: 80%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .second-content p {
        width: 100%;
        font-size: 1rem;
        color: #5b5a5a;
        position: absolute;
        /* right: 18%; */
        top: 80%;
        padding-left: 100px;
    }
    .second-content a {
        width: 30%;
        top: 110%;
        left: 10%;
        font-size: 1.1rem;
        color: #636363;
        position: absolute;
    }
    .fourth-content h2 {
        font-size: 3rem;
        font-weight: 200;
    }
    .fifth h5,.fourth h5{
       margin-left: 28px;
    }
    .fifth-content {
        margin-top: 120px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-right: 300px;
        transform: scale(.9);
    }
    .fifth-content p{
        font-size: 20px;
    }

    .sixth-content h2{
        font-size: 2.5rem;
        font-weight: 100;
    }
    .sixth-content .social{
        font-size: 1.5rem;
        font-weight: 100;
        gap: 20px;
    }
    .foot-content{
        height: 100px;
        width: 100%;
    }
    .foot-content .center,.foot-content .right{
        display: none;
    }
    .first-content :nth-child(3),
    .first-content :nth-child(4) {
        display: none;
    }
}